.center {

    transform: translateY(-50%);
    max-width: 120px;
    margin: 0 auto;
    top: 50%;
    text-align: center;
    position: relative;
}

.thumb {
    animation: scale 1.5s cubic-bezier(0.645, 0.045, 0.355, 1) infinite forwards 2s;
    color: #0CFBAB;
    font-size: 96px;
    text-decoration: none;
}

@keyframes scale {
    0% {
        transform: scale(1);
    }

    1% {
        transform: scale(0);
    }

    20% {
        transform: scale(0);
    }

    35% {
        transform: scale(1.4);
    }

    40% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.15);
    }

    65% {
        transform: scale(1);
    }

    90% {
        transform: scale(1);
    }

    100% {
        transform: scale(1);
    }
}

.circleWrap {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    pointer-events: none;
}

.circleLg {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border-style: solid;
    border-color: #0CFBAB;
    opacity: 0;
    animation: scaleCircle 1.5s cubic-bezier(0.645, 0.045, 0.355, 1) infinite forwards 2s;
}

@keyframes scaleCircle {
    0% {
        border-width: 90px;
        transform: scale(0);
    }

    15% {
        border-color: #F1C40F;
        border-width: 90px;
    }

    30% {
        border-color: #2ECC71;
        opacity: 1;
    }

    35% {
        border-color: #0CFBAB;
    }

    50% {
        border-width: 0;
        transform: scale(1);
        opacity: 0.3;
    }

    100% {
        border-width: 0;
        transform: scale(1);
        opacity: 0;
    }
}

.dotsWrap {
    transform: translate(-50%, -50%) rotate(3deg);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 220px;
    height: 220px;
    pointer-events: none;
}

.dot {
    width: 10px;
    height: 10px;
    position: absolute;
    border-radius: 50%;
    background: #00CCFF;
    margin: 0 auto;
    top: 105px;
    left: 0;
    right: 0;
    opacity: 0;
}

.dot:nth-child(1n+1) {
    background-color: #0CFBAB;
}

.dot:nth-child(1n+2) {
    background-color: #F3396B;
}

.dot:nth-child(1n+3) {
    background-color: #08D3FC;
}

.dot:nth-child(1n+4) {
    background-color: #FCDB17;
}

.dot:nth-child(1n+5) {
    background-color: #9B59B6;
}

.dot:nth-child(1n+6) {
    background-color: #34495E;
}

.dotT {
    animation: slideUp 1.5s cubic-bezier(0.645, 0.045, 0.355, 1) infinite forwards 2s;
}

@keyframes slideUp {
    0% {
        transform: translateY(0) scale(1);
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    55% {
        transform: translateY(-125px) scale(1);
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(-125px) scale(0);
    }
}

.dotTr {
    animation: slideUpRight 1.5s cubic-bezier(0.645, 0.045, 0.355, 1) infinite forwards 2s;
}

@keyframes slideUpRight {
    0% {
        transform: translate(0) scale(1);
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    55% {
        transform: translate(125px, -80px) scale(1);
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translate(125px, -80px) scale(0);
    }
}

.dotBr {
    animation: slideDownRight 1.5s cubic-bezier(0.645, 0.045, 0.355, 1) infinite forwards 2s;
}

@keyframes slideDownRight {
    0% {
        transform: translate(0) scale(1);
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    55% {
        transform: translate(125px, 80px) scale(1);
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translate(125px, 80px) scale(0);
    }
}

.dotB {
    animation: slideDown 1.5s cubic-bezier(0.645, 0.045, 0.355, 1) infinite forwards 2s;
}

@keyframes slideDown {
    0% {
        transform: translateY(0) scale(1);
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    55% {
        transform: translateY(125px) scale(1);
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(125px) scale(0);
    }
}

.dotBl {
    animation: slideDownLeft 1.5s cubic-bezier(0.645, 0.045, 0.355, 1) infinite forwards 2s;
}

@keyframes slideDownLeft {
    0% {
        transform: translate(0) scale(1);
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    55% {
        transform: translate(-125px, 80px) scale(1);
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translate(-125px, 80px) scale(0);
    }
}

.dotTl {
    animation: slideUpLeft 1.5s cubic-bezier(0.645, 0.045, 0.355, 1) infinite forwards 2s;
}

@keyframes slideUpLeft {
    0% {
        transform: translate(0) scale(1);
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    55% {
        transform: translate(-125px, -80px) scale(1);
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translate(-125px, -80px) scale(0);
    }
}