.form {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.typo {

    width: 100%;
    margin-top: 10px;
}

.typo-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.btn-reset:hover{
    background-color: #26713a;
}