.main {
    background-color: #f0f2f5;
    min-height: 100vh;
    color: white;


    .cardContainer {
        min-height: 80vh;

        .card {


            min-height: 85vh;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        .btns {
            width: 100%;

            display: flex;
            justify-content: space-around;
            height: 50px;


            .btn {
                font-family: 'Nunito';
                border: 1px solid #1a2529;
                color: white;
                background-color: #1a2529;
                border-radius: 20px;
                text-decoration: none;
                padding: 5px 20px;
                display: flex;
                justify-content: center;
                align-items: center;

                &:hover {
                    background-color: #2e3d43;
                }

            }
        }
    }
}

.imageSection {
    width: 50%;

    display: flex;
    justify-content: center;

    img {
        width: 50%;
        height: auto;
    }

}



@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-30px);
    }

    100% {
        transform: translateY(0);
    }
}


.textAccroche {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    h1 {
        color: #1a2529;
        text-align: center;

    }

}

@media (max-width: 767px) {

    .cardContainer {

        .card {

            .textAccroche {
                flex-direction: column-reverse;

                h1 {
                    font-size: 12px;
                }
                .text{
                    font-size: 12px;

                    width: 100%;
                }

                .imageSection {
                    img {
                        width: 50%;
                        height: auto;
                    }
                }

            }

            .btns {
                height: 20px;
                position: relative;
                top: 50px;

                .btn {
                    font-size: 10px;
                }
            }
        }
    }
}

.text{
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

}
