/* connexion.module.css */

.customSection {

    display: flex;
    height: 100vh;
    background-color: #f0f2f5;


}

.container {
    height: auto !important;


}

.leftHalf {


    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.rightHalf {

    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;

    .connexionCard {
        height: 500px;
        min-width: 40%;

        min-width: 320px;

        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h1 {
            color: black;
            margin-top: 20px;
            text-align: center;
        }

        h2 {
            font-size: 18px;
            text-align: center;
        }

        form {
            width: 100%;
            height: 700px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;

            label {
                color: black;
                margin: 10px;
            }

            input {
                width: webkit-fill-available;
                padding: 1em;
                width: 80%;
                margin: 0.2em;
                border-radius: 0.6em;
                border: none;
                box-shadow: 0 0 2px 1px black;
                transform: scale(0.95);

            }

            textarea {
                width: 300px;
                min-width: 300px;
                max-width: 300px;
                min-height: 95px;
                height: 95px;
                max-height: 105px;
            }

            button {
                margin-top: 25px;
                padding: 10px 42px;
                border-radius: 10px;
                background-color: #42bf96;
                border: none;
                font-size: 15px;
                cursor: pointer;
                color: white;
                width: 80%;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                -ms-border-radius: 10px;
                -o-border-radius: 10px;
            }
        }

    }
}

.imageSection {
    width: 70%;


    img {
        height: auto;
        width: 100%;

    }
}

.leftHalfContainer {
    width: 60%;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}


.creationCompte {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    h3 {
        font-size: 15px;
    }
}


@media only screen and (max-width: 767px) {
    .leftHalfContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 70px;

    }

    .customSection {
        flex-direction: column;

        .leftHalf {

            border-top-right-radius: 0vh;
            border-bottom-right-radius: 0vh;
            border-top-right-radius: 60vh;
            border-top-left-radius: 60vh;
            width: 90%;
            height: 200px;
            background-color: #18262f;
            display: flex;
            justify-content: center;
            align-items: center;


            .imageSection {
                width: 80%;
                display: flex;
                justify-content: center;

                img {
                    height: auto;
                    width: 50%;

                }
            }
        }

        .rightHalf {

            justify-content: center;

            .connexionCard {

                width: 90%;
                margin-right: 0px;
                border-radius: 10px 10px 20px 20px;



                h1 {
                    color: white;

                }

                form {
                    width: 100%;

                    label {
                        color: white;
                        margin: 5px;
                    }

                    input {
                        width: 80%;
                        height: 40px;

                    }

                    button {

                        margin-top: 45px;
                        padding: 7px 39px;
                        border-radius: 20px;
                        background-color: #07c096;
                        border: none;
                        font-size: 13px;
                        cursor: pointer;

                    }
                }

            }
        }
    }
}

.link {
    margin-left: 10px;
    color: #07c096;
    text-decoration: none;
}

.anotherSignup {

    width: 100%;

    .OrContainer {

        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .orLeft {
            border: 1px solid grey;
            width: 40%;

        }

        .orRight {
            border: 1px solid grey;
            width: 40%;

        }
    }

    .providers {
        height: 50px;

        display: flex;
        justify-content: center;
        align-items: center;


    }


}

.loader {

    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}