.tableContainer {

    padding: 50px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        font-size: 25px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
}

@media (max-width : 768px) {
    .tableContainer {
        padding: 10px;
        h1 {
            font-size: 12px;
        }
    }
}